.register{
    height: calc(max-content+40px);
    width: 100vw;
    position: relative;
    /* background-color: white; */
    background-color: rgba(210, 210, 210, 0.676); 
    padding-bottom: 20px;  
}
.heading{
    
    
    /* background-color: aqua; */
    text-align: center;
    width: 50vw;
    margin: 20px auto;
  
}
